<app-nav ></app-nav>
<button (click)="createUser()">Create user</button>
<p>
  <a href="./assets/files/text.txt" download>Download</a>
</p>
<p>
  <button (click)="downloadPdf()">Download PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img [src]="imgRta">
</p>
<hr/>
<app-products-list></app-products-list>
<!-- <p><input type="text" [(ngModel)]="imgParent"></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg }}</p>
<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img>

<hr/> -->
