<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es Nicolás
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es Julián
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>No hace match</p>
</div>
<!-- <p *ngIf="person.name === 'nicolas'">
  La persona es Nicolás
</p>
<p *ngIf="person.name === 'julian'">
  La persona es Julián
</p>
<p *ngIf="person.name === 'camilo'">
  La persona es Camilo
</p> -->

<hr/>

<h1>*ngfor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>>

<hr/>


<h1>*ngfor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let n of names; index as i">
    {{i}} {{n}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr/>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'Júlia'">Soy Júlia</p>
<p *ngIf="person.name === 'Nicolás' && person.age === 18; else elseBlock">Soy Nicolás</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr/>

<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>
<input type="number" max="100" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid {{ageInput.valid}}</p>

<hr/>

<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click) ="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click) ="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ligula ornare, facilisis massa non, condimentum justo. Suspendisse suscipit et enim eget aliquam. Integer aliquam ante ac ligula laoreet interdum. Fusce ornare molestie libero ut faucibus. Vestibulum malesuada dolor turpis, eu consectetur erat ullamcorper eu. Nullam quis justo quis leo euismod tempus eu ac neque. Ut vitae placerat mauris. Vivamus venenatis massa a ipsum semper imperdiet. Cras imperdiet ut ante dignissim ultricies. Fusce in fermentum ex. Nullam tincidunt purus vel lectus blandit, auctor pellentesque tortor vulputate.
    Nullam mollis enim ante, sit amet sodales nibh faucibus ullamcorper. Nulla iaculis sapien at turpis aliquet interdum. Proin molestie in tellus eu dapibus. Cras ornare dignissim sapien quis dictum. Cras bibendum interdum semper. Donec sit amet pharetra ligula. Vivamus vel bibendum velit. Quisque pharetra velit euismod odio lobortis, et congue purus malesuada. Duis felis elit, ornare vel tempus pellentesque, tincidunt eget ipsum. Sed eu fermentum enim, id blandit massa. Donec tincidunt tortor diam, sit amet lobortis nibh ornare ut. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eget tincidunt tellus. Nullam vulputate mi vitae porta sollicitudin. Pellentesque a mauris pharetra, iaculis magna eget, egestas justo.
    Sed ornare a dolor eget scelerisque. Nam tempus vel enim sit amet fringilla. Maecenas vehicula eros vitae placerat ultrices. Phasellus tincidunt velit at eros iaculis dignissim. Sed leo enim, aliquam id condimentum vel, vestibulum eget felis. In justo lacus, consequat nec tellus vel, sodales blandit massa. Morbi non convallis eros, eu vestibulum risus. Donec turpis risus, vehicula pretium hendrerit id, ultrices ac mauris. Pellentesque cursus mattis augue vel ultrices. Mauris ut ultrices justo. Suspendisse nec pulvinar leo. Sed dapibus nulla at ultricies viverra.
    Praesent fermentum lacus diam, fermentum vulputate odio lacinia vel. Curabitur suscipit, neque at mollis faucibus, ligula velit dapibus arcu, eu interdum velit lectus vitae leo. Aliquam interdum risus consectetur turpis venenatis, in porttitor massa eleifend. Sed condimentum, eros ac pellentesque accumsan, quam purus tincidunt sapien, quis pharetra est tellus in nisi. Duis ut faucibus mi. Proin consectetur, dolor sit amet dapibus tempor, justo augue cursus nulla, a tempus augue neque sed metus. Suspendisse suscipit nulla quis viverra tincidunt. Proin dignissim pretium mi in consectetur. Etiam malesuada iaculis urna, quis placerat nibh facilisis a. Duis in vestibulum purus. Etiam mattis nunc rhoncus sapien elementum ornare.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam eu faucibus orci. Duis vehicula leo iaculis egestas laoreet. Maecenas eros sem, malesuada at nibh non, malesuada interdum lorem. Duis pharetra urna quis libero eleifend varius ac vitae libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin elementum mi nec fermentum. Curabitur interdum, purus et posuere commodo, diam felis tempus libero, vitae accumsan nulla nisi sit amet erat. Etiam sed auctor neque.</p>
</div>
<p>Nombre {{person.name}} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<hr/>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name"/>
<progress max="100" [value]="person.age"></progress>
<img max = "100" [src]="person.avatar"/>

<hr/>

<h1>Hola mundo</h1>
<h2>{{'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{3+3}}</p>
<h3>Hola, soy {{ name }} y tengo {{age}} años</h3>
<img width="200" src={{img}} alt="image">
